body {
	background: #eeeeee;
	font-family: tahoma, verdana, sans serif;
}

canvas {
	margin-left: 7.5%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
  background: #fafafa;
  width:85%;
  display:block;
}

h1{
  font-family: 'Monoton', cursive;
  text-align: center;
  font-size: 3rem;
}

#controls{
  /* margin-left: 1rem; */
  display: block;
  margin-left: 12.5%;
  border: 2px solid black;
  width:75%;
  padding:2%;
}
#type{
  padding:5px;
}

#volumeLabel{
  margin-left: 1rem;
}

section{
  margin-bottom: 1rem;
}

#playButton{
  font-size: 1.2rem;
  width: 6rem;
}

button[data-playing="yes"]:after{
  content: "Pause";
}

button[data-playing="no"]:after{
  content: "Play";
}

#fsButton{
  font-size: 1.2rem;
  width: 8rem;
}